<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout.html">
<head>
<title layout:fragment="title">Izmena oglasa - [[${listing.title}]]</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h1 class="fw-bold mb-3 th:text">Izmena oglasa - [[${listing.title}]]</h1>
		<form class="mb-3" action="#" th:action="@{/oglasi/izmena/{id}(id=${listing.id})}" th:object="${listingFormDTO}" method="post"
			th:fragment="form">
			<div class="row row-cols-sm-1 row-cols-md-2">
				<div class="col col-lg-4" th:insert="~{partials/listings/create/create_building :: building}"></div>
				<div class="col col-lg-4" th:insert="~{partials/listings/create/create_apartment :: apartment}"></div>
			</div>
			<div class="row row-cols-sm-1 row-cols-md-2">
				<div class="col col-lg-4" th:insert="~{partials/listings/create/create_terms :: terms}"></div>
				<div class="col col-lg-4" th:insert="~{partials/listings/create/create_main :: main}"></div>
			</div>
			<input class="btn btn-primary fw-semibold" type="submit" value="Izmeni">
		</form>
	</div>
</body>
</html>