<div class="card" th:fragment="apartment_card">
	<div class="row g-0">
		<div class="col-md-7">
			<img class="img-fluid" src="/images/bedroom-1872196_1280.jpg" alt="Stan">
		</div>
		<div class="col-md-5">
			<div class="card-body">
				<div th:replace="partials/listings/detail/detail_apartment :: apartment(apartment=${listing.apartment})"></div>
				<div th:replace="partials/listings/detail/detail_building :: building(building=${listing.apartment.building})"></div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<small>
				<th:block th:if="${listing.updatedAt.isAfter(listing.createdAt)}">Ažuriran: [[${#temporals.format(listing.updatedAt, 'dd.MM.yyyy HH:mm')}]]</th:block>
				<th:block th:unless="${listing.updatedAt.isAfter(listing.createdAt)}">Postavljen: [[${#temporals.format(listing.createdAt, 'dd.MM.yyyy HH:mm')}]]</th:block>
			</small>
			<div class="btn bg-primary fw-semibold text-light">[[${listing.apartment.price}]] EUR</div>
		</div>
	</div>
</div>