<form class="mb-3" action="#" th:action="@{/oglasi/pretraga}" th:object="${searchFormDTO}" method="get">
	<div class="row mb-3 align-items-center">
		<label class="col-sm-4 col-form-label">Grad</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" name="place" id="place" maxlength="255">
		</div>
	</div>
	<div class="row mb-3 align-items-center">
		<label class="col-sm-4 col-form-label">Broj soba</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" name="numOfRooms" id="numOfRooms">
		</div>
	</div>
	<div class="row mb-3 align-items-center">
		<label class="col-sm-4 col-form-label">Cena od</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" name="priceFrom" id="priceFrom">
		</div>
	</div>
	<div class="row mb-3 align-items-center">
		<label class="col-sm-4 col-form-label">Cena do</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" name="priceTo" id="priceTo">
		</div>
	</div>
	<div class="row mb-3 align-items-center">
		<label class="col-sm-4 col-form-label">Površina od</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" name="m2From" id="m2From">
		</div>
	</div>
	<div class="row mb-3 align-items-center">
		<label class="col-sm-4 col-form-label">Površina do</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" name="m2To" id="m2To">
		</div>
	</div>
	<input class="btn btn-primary fw-semibold" type="submit" value="Pretraži">
</form>